langchain
langgraph
python-dotenv
langchain-google-genai
langchain_groq
langchain_community
langchain_tavily
langsmith
pandas
numpy
pydantic
fastapi
uvicorn
httpx
chromadb
rich
grandalf
mysql-connector-python
streamlit